/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Inter;
  src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}

body {
  background-color: #a3174d;
  margin: 0 16px;
  font-family: Montserrat;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
